<!-- Beauty feature area start here  -->
<div class="beauty-feature-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="section-box box-left">
                    <div class="section-box-inner layer">
                        <iframe src="https://www.youtube.com/embed/AIJZMm5XMkQ" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="beauty-feature-right">
                    <h2 class="beauty-title">WYRL Beauty is More Than Just Lipstick</h2>
                    <ul class="beauty-feature">
                        <li class="single-feature">
                            <img class="feature-icon" src="assets/beauty-icon-1.png" alt="feature icon" />
                            <div class="feature-right">
                                <h3>Building Confidence </h3>
                            </div>
                        </li>
                        <li class="single-feature">
                            <img class="feature-icon" src="assets/beauty-icon-2.png" alt="feature icon" />
                            <div class="feature-right">
                                <h3>Clean + Curated</h3>
                            </div>
                        </li>
                        <li class="single-feature">
                            <img class="feature-icon" src="assets/beauty-icon-3.png" alt="feature icon" />
                            <div class="feature-right">
                                <h3>Giving Back</h3>
                            </div>
                        </li>
                    </ul>
                    <img class="certified-image" src="assets/certified.png" alt="certified" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Beauty feature area end here  -->
<div class="confidence-power text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>Red lip confidence is a power that can be applied whenever you need it - AK</h2>
            </div>
        </div>
    </div>
</div>