
<!-- confidence-bundle area start here  -->
<div class="confidence-bundle">
    <div class="container">
        <h2 class="confidence-bundle-title">Choose Your <span>Red Lip Confidence</span> Bundle Now</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-confidence">
                    <div class="confidence-thumbnail">
                        <img src="assets/confidence-image-1.jpg" alt="confidence-image" />
                    </div>
                    <div class="confidence-body">
                        <h2 class="confidence-title">Baby Bundle</h2>
                        <div class="included-area">
                            <h3 class="included-title">Whats included:</h3>
                            <p>1x Red Lipstick, The Marble Collection Free Guide for Finding the Right Red Red Lipstick Meditation Access to Our Creating WYRL Moments Playlist Access to our private RED LIPSTICK CONFIDENCE FB group</p>
                        </div>
                        <a href="#" class="add-btn">ADD TO BAG - £38</a>
                        <p class="bonus-text"><span>BONUS:</span> Helps Worldview Provide a supply of books for a girl in need for 3 months</p>
                        <h5 class="shipping-text"><img class="icon" src="assets/plane.svg" alt="plane" /> FAST SHIPPING</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-confidence popular">
                    <div class="popular-label">MOST POPULAR</div>
                    <div class="confidence-thumbnail">
                        <img src="assets/confidence-image-2.jpg" alt="confidence-image" />
                    </div>
                    <div class="confidence-body">
                        <h2 class="confidence-title">The Confidence Bundle</h2>
                        <div class="included-area">
                            <h3 class="included-title">Whats included:</h3>
                            <p>1x Set of 3, The Marble Collection Free Guide for Finding the Right Red Toxic Thoughts and Toxic Talk Identifer Join the 5-Day Red Lip Challenge Rocking the Red Lip affirmation creation tool kit Access to our private RED LIPSTICK CONFIDENCE FB group</p>
                            <h4 class="save-price">Save £15</h4>
                        </div>
                        <a href="#" class="add-btn active">ADD TO BAG - £98.99</a>
                        <p class="bonus-text"><span>BONUS:</span>  Helps Worldview Provide a supply of books for a girl in need for a year</p>
                        <h5 class="shipping-text"><img class="icon" src="assets/plane.svg" alt="plane" /> FAST SHIPPING</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-confidence">
                    <div class="confidence-thumbnail">
                        <img src="assets/confidence-image-3.jpg" alt="confidence-image" />
                    </div>
                    <div class="confidence-body">
                        <h2 class="confidence-title">The Girlfriend Bundle</h2>
                        <div class="included-area">
                            <h3 class="included-title">Whats included:</h3>
                            <p>2x Set of 3, The Marble Collection Free Guide for Finding the Right Red Toxic Thoughts and Toxic Talk Identifer Join the 5-Day Red Lip Challenge Rocking the Red Lip affirmation creation tool kit Access to our private RED LIPSTICK CONFIDENCE FB group</p>
                            <h4 class="save-price">Save £33</h4>
                        </div>
                        <a href="#" class="add-btn">ADD TO BAG - £194.99</a>
                        <p class="bonus-text"><span>BONUS:</span>  Helps Worldview Provide a supply of books for 2 girls in need for a year</p>
                        <h5 class="shipping-text"><img class="icon" src="assets/plane.svg" alt="plane" /> FAST SHIPPING</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- confidence-bundle area end here  -->