 <!-- footer area start here  -->
 <footer class="footer-area">
  <div class="widget-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-widget about-widget">
                      <a class="brand-logo" href="#"><img src="assets/wyrl.png" alt="wyrl" /></a>
                      <p class="about-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius inventore reprehenderit unde cumque debitis .</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-widget menu-widget">
                      <h3 class="widget-title">Marketplace</h3>
                      <ul>
                          <li><a href="#">All nfts</a></li>
                          <li><a href="#">Live Auction</a></li>
                          <li><a href="#">Tranding nfts</a></li>
                          <li><a href="#">How its work</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-widget menu-widget">
                      <h3 class="widget-title">My Account</h3>
                      <ul>
                          <li><a href="#">Author</a></li>
                          <li><a href="#">My account</a></li>
                          <li><a href="#">Create account</a></li>
                          <li><a href="#">Create collection</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-widget contact-widget">
                      <h3 class="widget-title">Company</h3>
                      <p class="contact-address">5 North 03th Avenue,Penscola, FL 32503, New York</p>
                      <ul class="contact-info">
                          <li><i class="icon fas fa-phone-alt"></i> +1 965 047 658 23</li>
                          <li><i class="icon fas fa-envelope"></i> xalkacom54@gmail.com</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <p class="copyright-text">&copy; 2022. All Rights Reserved by <a href="#">wyrl</a></p>
      </div>
  </div>
</footer>
<!-- footer area end here  -->
<!-- Js file  -->
<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
<script src="{{ 'bootstrap.bundle.min.js' | asset_url }}"></script>
<script src="{{ 'plugins.js' | asset_url }}"></script>
<script src="{{ 'main.js' | asset_url }}"></script>