
<!-- review area start here  -->
<div class="review-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-review">
                    <div class="review-top">
                        <ul class="review-list">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="review-head">
                        <h3>beautiful color !</h3>
                        <p>info on the kw site led me to this color and i love it. lipstick feels great and lasts!</p>
                        <span class="date">11/19/22</span>
                    </div>
                    <div class="review-body">
                        <h3><span>booth E.</span> verified buyer</h3>
                        <ul>
                            <li>recommend: <span>yes</span></li>
                            <li>skin ton: <span>light</span></li>
                            <li>skin type: <span>normal</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-review">
                    <div class="review-top">
                        <ul class="review-list">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="review-head">
                        <h3>beautiful color !</h3>
                        <p>info on the kw site led me to this color and i love it. lipstick feels great and lasts!</p>
                        <span class="date">11/19/22</span>
                    </div>
                    <div class="review-body">
                        <h3><span>booth E.</span> verified buyer</h3>
                        <ul>
                            <li>recommend: <span>yes</span></li>
                            <li>skin ton: <span>light</span></li>
                            <li>skin type: <span>normal</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="load-area text-center">
            <a href="#" class="primary-btn">load more reviews</a>
        </div>
    </div>
</div>
<!-- review area end here  -->